.es-carousel-wrapper{
	padding:10px 35px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	background:#000 url(../images/zoom.png) no-repeat center center;
}
.es-carousel ul li a{
	display:block;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
	-webkit-transition:all 0.3s ease-in-out;  
	-moz-transition:all 0.3s ease-in-out;  
	-o-transition:all 0.3s ease-in-out;  
	transition:all 0.3s ease-in-out; 
}

.es-carousel ul li a:hover{
}

.es-nav span{
	position:absolute;
	top:50%;
	left:0px;
	background:transparent url(../images/nav.png) no-repeat top left;
	width:13px;
	height:25px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:0px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}