@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tweedli - stack up your tweets with class</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='@routes.Assets.at("css/bootstrap.min.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/bootstrap-responsive.min.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/style.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/bootstrap-lightbox.min.css")' rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="image_src" href="thumbnail.png" />
    <link rel="icon" type="image/ico" href="favicon.ico">
</head>
<body data-spy="scroll" data-target=".navbar">
<div id="stuff"></div>
<div id="home">
    <div class="container">
        <div class="row">
            <div class="span6 margin15 visible-phone">
                <img src='@routes.Assets.at("img/logo.png")' alt="">
                <h1 class="margin5">Stack up your tweets with class</h1>
                <a class="button btn btn-large margin5" href="/authenticate/twitter"><img src='@routes.Assets.at("img/arrow_down.png")' alt=""> Sign in with Twitter</a>
            </div>
            <div class="span6">
                <img src='@routes.Assets.at("img/iphone.png")' alt="">
            </div>
            <div class="span6 margin15 hidden-phone">
                <img src='@routes.Assets.at("img/logo.png")' alt="">
                <h1 class="margin5">Stack up your tweets with class</h1>
                <a class="button btn btn-large margin5" href="/authenticate/twitter"><img src='@routes.Assets.at("img/arrow_down.png")' alt=""> Sign in with Twitter</a>
            </div>
        </div>
    </div>
</div>
<!-- break -->
<div id="features">
    <div class="navbar" id="navbar_feat">
        <div class="container separator">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="#navbar_feat">Features</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#navbar_about">About</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#terms">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="feat1">
            <div class="span6 margin5 margin-5">
                <img src='@routes.Assets.at("img/features_1.jpg")' alt="">
            </div>
            <div class="span6 margin10">
                <h2>Information<span><br> that you need</span></h2>
                <p>Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are,
                    the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.<br>
                    The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                    Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. Awesomeness, true story!</p>
                <a href="#home"><img src='@routes.Assets.at("img/back.png")' alt="" class="margin5"></a>
                <a href="#feat2"><img src='@routes.Assets.at("img/more.png")' alt="" class="margin5"></a>
            </div>
        </div>
        <div class="separator"></div>
        <div class="row" id="feat2">
            <div class="span6 margin10">
                <h2><span>Anytime</span><br> anystyle</h2>
                <p>Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are,
                    the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.<br>
                    The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                    Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. Awesomeness, true story!</p>
                <a href="#home"><img src='@routes.Assets.at("img/back.png")' alt="" class="margin5"></a>
                <a href="#gallery"><img src='@routes.Assets.at("img/more.png")' alt="" class="margin5"></a>
            </div>
            <div class="span6 margin5 margin-5">
                <img src='@routes.Assets.at("img/features_2.jpg")' alt="">
            </div>
        </div>
        <div class="separator"></div>
        <div class="row" id="gallery">
            <div class="span12 margin5 margin-5">
                <h2><span>Shots</span></h2>
                <ul class="thumbnails margin5">
                    <li class="span3">
                        <a data-toggle="lightbox" href="#shot1" class="thumbnail">
                            <img src='@routes.Assets.at("img/gallery/shot1.png")' alt="">
                        </a>
                    </li>
                    <li class="span3">
                        <a data-toggle="lightbox" href="#shot2" class="thumbnail">
                            <img src='@routes.Assets.at("img/gallery/shot2.png")' alt="">
                        </a>
                    </li>
                    <li class="span3">
                        <a data-toggle="lightbox" href="#shot3" class="thumbnail">
                            <img src='@routes.Assets.at("img/gallery/shot3.png")' alt="">
                        </a>
                    </li>
                    <li class="span3">
                        <a data-toggle="lightbox" href="#shot4" class="thumbnail">
                            <img src='@routes.Assets.at("img/gallery/shot4.png")' alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="shot1" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
            <div class='lightbox-content'>
                <img src='@routes.Assets.at("img/gallery/shot1@@2x.png")' alt="">
            </div>
        </div>
        <div id="shot2" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
            <div class='lightbox-content'>
                <img src='@routes.Assets.at("img/gallery/shot2@@2x.png")' alt="">
            </div>
        </div>
        <div id="shot3" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
            <div class='lightbox-content'>
                <img src='@routes.Assets.at("img/gallery/shot3@@2x.png")' alt="">
            </div>
        </div>
        <div id="shot4" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
            <div class='lightbox-content'>
                <img src='@routes.Assets.at("img/gallery/shot4@@2x.png")' alt="">
            </div>
        </div>
    </div>
</div>
<!-- break -->
<div id="about">
    <div class="navbar" id="navbar_about">
        <div class="container separator">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="#navbar_feat">Features</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#navbar_about">About</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#terms">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span4 margin5 margin-5">
                <h2><span>Team</span></h2>
                <img src='@routes.Assets.at("img/team.png")' alt="">
                <p>Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are,
                    the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.</p>
            </div>
            <div class="span4 margin5 margin-5">
                <h2><span>Idea</span></h2>
                <img src='@routes.Assets.at("img/idea.png")' alt="">
                <p>The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
                    Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. Awesomeness, true story!</p>
            </div>
            <div class="span4 margin5 margin-5">
                <h2><span>Contact</span></h2>
                <div id="map_canvas"></div>
                <p><strong>Awesomeapp, Inc.</strong><br>
                    795 Folsom St., Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </p>
            </div>
        </div>
    </div>
</div>
<div id="terms">
    <div class="container">
        <div class="row">
            <div class="span6 offset3 margin15 margin-15">
                <p>read<a href="#termsofservice" data-toggle="modal"> terms of service</a> / <a href="#privacypolicy" data-toggle="modal">privacy policy</a></p>
                <!--start terms of service popup-->
                <div id="termsofservice" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h3 id="termsModalLabel">Terms of Service</h3>
                    </div>
                    <div class="modal-body">
                        <p>The following terms and conditions govern your use of this web site,
                            and any content made available from or through the following Envato Marketplaces web sites.</p>
                        <p>Your terms of service text...</p>
                        <p>Any questions about this Privacy Policy should be addressed to support@@example.com</p>
                    </div>
                    <button class="btn margin-5" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <!--end terms of service popup-->
                <!--start privacy policy popup-->
                <div id="privacypolicy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h3 id="privacyModalLabel">Privacy Policy</h3>
                    </div>
                    <div class="modal-body">
                        <p>Application creator may periodically update this policy.
                            We will notify you about significant changes in the way we treat personal information by sending a notice to the
                            primary email address specified in your primary account holder account or by placing a prominent notice on our site.</p>
                        <p>Your privacy policy text...</p>
                        <p>Any questions about this Privacy Policy should be addressed to support@@example.com</p>
                    </div>
                    <button  type="button" class="btn margin-5" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <!--end privacy policy popup-->
                <h1>Like it?</h1>
                <a class="button btn btn-large margin5" href="http://themeforest.net/item/superawesome-retina-bootstrap-app-landing-page/3597882?ref=awerest"><img src='@routes.Assets.at("img/arrow_down.png")' alt=""> Download the app</a>
            </div>
        </div>
    </div>
</div>
<!-- break -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span4 margin5 margin-5">
                <span>"Stay in touch and have a nice app!"</span>
            </div>
            <div class="span4 margin5 margin-5">
                <img src='@routes.Assets.at("img/logo_footer.png")' alt="">
            </div>
            <div class="span4 margin5 margin-5">
                <a class="button btn" href="http://www.facebook.com/awerest" target="_blank"><img src='@routes.Assets.at("img/social/facebook_icon.png")' alt=""></a>
                <a class="button btn" href="http://twitter.com/awerest" target="_blank"><img src='@routes.Assets.at("img/social/twitter_icon.png")' alt=""></a>
                <a class="button btn" href="http://instagram.com/awerest/" target="_blank"><img src='@routes.Assets.at("img/social/instagram_icon.png")' alt=""></a>
                <a class="button btn" href="http://pinterest.com/awerest/" target="_blank"><img src='@routes.Assets.at("img/social/pinterest_icon.png")' alt=""></a>
                <a class="button btn" href="mailto:someone@@example.com" target="_blank"><img src='@routes.Assets.at("img/social/mail_icon.png")' alt=""></a>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src='@routes.Assets.at("js/bootstrap.min.js")'></script>
<!-- script src='@routes.Assets.at("js/retina.js")'></script -->
<script src='@routes.Assets.at("js/jquery.backstretch.min.js")'></script>
<script src='@routes.Assets.at("js/bootstrap-lightbox.min.js")'></script>
<script src='@routes.Assets.at("js/custom.js")'></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
    var settingsItemsMap = {
    zoom: 13,
    center: new google.maps.LatLng(37.782163,-122.400591),
    panControl: false,
    zoomControl: true,
    zoomControlOptions: {
    style: google.maps.ZoomControlStyle.SMALL
    },
    mapTypeControl: false,
    scaleControl: false,
    streetViewControl: false,
    overviewMapControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById('map_canvas'), settingsItemsMap );

    var myMarker = new google.maps.Marker({
    position: new google.maps.LatLng(37.782163,-122.400591),
    draggable: false
    });

    map.setCenter(myMarker.position);
    myMarker.setMap(map);
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'YOUR GOOGLE ANALYTICS CODE']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>


</body>
</html>